<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kotlin.com.kotlinmodule">

    <!-- 集成调试使用 -->
    <application android:theme="@style/AppTheme">
        <activity android:name="kotlintest.com.kotlinmodule.mvp.view.KotlinMainActivity"/>
    </application>

</manifest>