<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="playandroid.cmcc.com.commonmodule">

    <application android:theme="@style/AppTheme">
        <activity android:name="cmcc.com.playandroid.activity.DetailsContentActivity" />
        <activity android:name="cmcc.com.playandroid.webview.WebviewActivity"/>
    </application>

</manifest>
